<header>
  <dx-toolbar class="header-toolbar">
    <dxi-item location="before">
      <div *dxTemplate="let data of 'item'">
        <dx-button style="border: none;" icon="{{ headericon }}" [text]="headerTitle"> </dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" cssClass="header-title" *ngIf="title" [text]="title">
    </dxi-item>

    <dxi-item *ngIf="menuToggleEnabled" location="after" widget="dxButton" cssClass="menu-button" [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }">
    </dxi-item>

    <dxi-item location="after" widget="dxButton" cssClass="menu-button">
      <div *dxTemplate="let data of 'item'" style="position: relative; display: inline-block;">
        <a id="bell" class="fa fa-bell" style="cursor: pointer;" (click)="toggleNotificationBox()">
          <span class="num" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
        </a>

        <!-- Notification Dropdown Panel -->
        <div class="notifications-dropdown-container" *ngIf="isNotificationBoxVisible">
          <div class="notifications-dropdown-header">
            <div class="header-title-wrapper">
              <i class="fa fa-bell header-bell-icon"></i>
              <h3>الاشعارات</h3>
            </div>
            <span class="badge" *ngIf="notifications.length > 0">{{ notifications.length }}</span>
          </div>

          <div class="notifications-dropdown-body">
            <div *ngIf="notifications.length === 0" class="no-notifications-state">
              <div class="empty-icon-wrapper">
                <i class="fa fa-bell-slash"></i>
              </div>
              <p>لا يوجد إشعارات جديدة</p>
            </div>

            <div *ngFor="let notif of notifications" class="notification-card-item">
              <div class="card-icon-container return-type">
                <i class="fa fa-reply"></i>
              </div>
              <div class="card-details">
                <p class="card-text">
                  قام المستخدم <span class="username-highlight">{{ notif.user_name }}</span> بارجاع الطلب رقم <span class="orderid-highlight">#{{ notif.order_id }}</span>
                </p>
                <span class="card-time">
                  <i class="fa fa-clock-o"></i> إشعار إرجاع
                </span>
              </div>
              <div class="card-action-container">
                <button class="action-btn" (click)="viewDetails(notif.order_id)">
                  عرض التفاصيل
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dxi-item>

    <dxi-item location="after" locateInMenu="auto" menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'">
        <dx-button class="user-button authorization" width="210px" height="90%" stylingMode="text">
          <div *dxTemplate="let data of 'content'">
            <app-user-panel [user]="user" [menuItems]="userMenuItems" menuMode="context"></app-user-panel>
          </div>
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate="let data of 'item'">
        <dx-button style="border: none;" [text]="'خروج'" (onClick)="logOut()"> </dx-button>
      </div>
    </dxi-item>


    <!-- <div *dxTemplate="let data of 'menuItem'">
        <app-user-panel [user]="user" [menuItems]="userMenuItems" menuMode="list"></app-user-panel>
      </div> -->
  </dx-toolbar>
</header>