element.style {
    height: 180px;
    min-height: 0px;
}
*{ background-color: #ffff;}
.heightextarea{ height: 180px;}
.dx-tabpanel > .dx-tabpanel-tabs .dx-tabs {
    box-shadow: unset !important;
  }
  
  .nav-pills .nav-link.active {
    color: #333;
    background-color: #fff;
    position: relative;
  }
  
  .nav-link {
    color: #c7bfbf;
    font-weight: 500;
  }
  
    .nav-link.active {
      color: #333;
    }
  
 