<div class="row px-2">
  <div class="col-md-6">
    <h6 class="text-right">البيانات الأساسية</h6>
    <div class="line-border"></div>
    <div class="row">
      <div class="col-lg-6 col-md-12 mt-1">
        <div class="image-upload-lg">
          <label for="file-input">
            <img [src]="imgSrc" style="    max-height: 90px;
            " />
          </label>
          <div class="text-center">صورة المنتج</div>

          <input (change)="showPreview($event)" id="file-input" type="file" multiple />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mt-1">
        <div class="dx-field-label">الاسم باللغة العربية</div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-text-box [(value)]="name_ar" [rtlEnabled]="true">
              <dx-validator>
                <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field-label">الاسم باللغة الأنجليزية</div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-text-box [(value)]="name_en" [rtlEnabled]="true">
              <dx-validator>
                <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h6 class="text-right px-2">الأقسام</h6>
    <div class="line-border px-2"></div>
    <div class="row">
      <div class=" col-md-8 mt-1">
        <div class="dx-field-label">القسم الأساسي</div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-drop-down-box [(value)]="mainCategoryList" valueExpr="id" [deferRendering]="false"
              displayExpr="category_ar" [showClearButton]="false" [rtlEnabled]="true" [dataSource]="maincategory"
              (onValueChanged)="getMinCatergories ()">
              <dx-validator>
                <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
              </dx-validator>
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid #gridRef [dataSource]="maincategory" keyExpr="id" [(selectedRowKeys)]="mainCategoryList"
                  [columnAutoWidth]="true" [showBorders]="false" [rtlEnabled]="true" height="100%"
                  [paging]="{ enabled: false }">

                  <dxo-search-panel [visible]="true" width="95%" [placeholder]="'Search'"></dxo-search-panel>

                  <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick" mode="multiple"></dxo-selection>

                  <dxi-column dataField="category_ar" caption=" "></dxi-column>

                </dx-data-grid>

              </div>
            </dx-drop-down-box>

          </div>
        </div>
        <div class="dx-field-label">القسم الفرعي</div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-drop-down-box [(value)]="categoryList" valueExpr="id" [deferRendering]="false" displayExpr="category_ar"
              [showClearButton]="false" [rtlEnabled]="true" [dataSource]="minCategoryList"
              (onValueChanged)="getKeywords ()">
              <dx-validator>
                <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
              </dx-validator>
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid #gridRef [dataSource]="minCategoryList" keyExpr="id" [(selectedRowKeys)]="categoryList"
                  [columnAutoWidth]="true" [showBorders]="false" [rtlEnabled]="true" height="100%"
                  [paging]="{ enabled: false }">

                  <dxo-search-panel [visible]="true" width="95%" [placeholder]="'Search'"></dxo-search-panel>

                  <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick" mode="multiple"></dxo-selection>

                  <dxi-column dataField="category_ar" caption=" "></dxi-column>

                </dx-data-grid>

              </div>
            </dx-drop-down-box>

          </div>
        </div>
        <div class="dx-field-label"> الكلمات الدالة</div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-drop-down-box [(value)]="KeywordList" valueExpr="id" [deferRendering]="false" displayExpr="keyword_ar"
              [showClearButton]="false" [rtlEnabled]="true" [dataSource]="mainKeywordList">
              <dx-validator>
                <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
              </dx-validator>
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid #gridRef [dataSource]="mainKeywordList" keyExpr="id" [(selectedRowKeys)]="KeywordList"
                  [columnAutoWidth]="true" [showBorders]="false" [rtlEnabled]="true" height="100%"
                  [paging]="{ enabled: false }">

                  <dxo-search-panel [visible]="true" width="95%" [placeholder]="'Search'"></dxo-search-panel>

                  <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick" mode="multiple"></dxo-selection>

                  <dxi-column dataField="keyword_ar" caption=" "></dxi-column>

                </dx-data-grid>

              </div>
            </dx-drop-down-box>

          </div>
        </div>

      </div>

      <!-- <div class="col-lg-4 text-center col-md-12 mt-4">
        <dx-button text="أضافة" class="btn py-0 default-btn"> </dx-button>
      </div> -->

    </div>
  </div>
</div>

<div class="row mt-2 px-2">
  <div class="col-12">
    <h6 class="text-right">السعر والكمية</h6>
    <div class="line-border"></div>
  </div>
  <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">السعر</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-number-box format="$ #,##0.##" [(value)]="price" [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">السعر بعد التخفيض</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-number-box format="$ #,##0.##" [(value)]="discount_price" [rtlEnabled]="true">

        </dx-number-box>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">سعر التكلفة</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-number-box format="$ #,##0.##" [(value)]="cost" [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
  </div> -->
  <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label">موعد بداية التخفيض</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-date-box [(value)]="start_discount" [rtlEnabled]="true">

        </dx-date-box>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label">موعد نهاية التخفيض</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-date-box [(value)]="end_discount" [rtlEnabled]="true">

        </dx-date-box>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">الرمز</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-text-box [(value)]="symbol" [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
  </div> -->
  <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">الكمية</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-number-box [min]="1" step="1" [(value)]="stock" [rtlEnabled]="true" readOnly="true">

        </dx-number-box>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">العدد</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-number-box [min]="1" step="1" [(value)]="unit_number" [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">الوحدة</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-select-box [placeholder]="''" [(value)]="product_unit" [items]="units" displayExpr="unit_ar" valueExpr="id"
          [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 mt-1">
    <div class="dx-field-label">البائع</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-select-box [placeholder]="''" [(value)]="seller_Id" [items]="suppliers" displayExpr="name" valueExpr="id"
          [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label">الوزن</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-number-box [(value)]="weight" [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label">الحد الأدني للكمية</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-number-box [min]="1" [(value)]="min_quantity" [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
  </div> -->
  <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label">الشركة المصنعة</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-select-box [placeholder]="''" [(value)]="company_manfacure" valueExpr="id" displayExpr="name_ar"
          [items]="companies" [rtlEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>

      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label">أضافة ضمان</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-select-box [placeholder]="''" [rtlEnabled]="true" [items]="secures" [(value)]="secure"
          displayExpr="duration_ar" valueExpr="id">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>

      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label"> عرض اختيارتنا</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-select-box [placeholder]="''" [rtlEnabled]="true" [items]="choices" [(value)]="is_choice"
          displayExpr="value" valueExpr="key">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mt-1">
    <div class="dx-field-label">نوع البنر</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-select-box [placeholder]="''" [rtlEnabled]="true" [(value)]="productId" [items]="banners"
          valueExpr="id" displayExpr="banner_type">

        </dx-select-box>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 px-2">
  <div class="col-12">
    <h6 class="text-right">وصف المنتج</h6>
    <div class="line-border"></div>
  </div>
  <div class="col-md-4">
    <div class="dx-field-label">الوصف باللغة العربية</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <ckeditor class="heightextarea" [editor]="Editor" [config]='config' [(ngModel)]="content_ar"
          style="height: 300px;">

        </ckeditor>

        <!-- <dx-text-area
         [(value)]="content_ar" [height]="90">
         <dx-validator>
          <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
      </dx-validator>
        </dx-text-area> -->
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dx-field-label">الوصف باللغة الأنجليزية</div>
    <div class="dx-field">
      <div class="dx-field-value">
        <ckeditor class="heightextarea" [editor]="Editor" [config]='config' [(ngModel)]="content_en"
          style="height: 300px;">

        </ckeditor>
        <!-- <dx-text-area
          [(value)]="content_en"
          [height]="90" >
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
        </dx-validator>
        </dx-text-area> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-check-box [(value)]="show_app" text="عدم إظهار في المتجر">
          <dx-validator>
            <dxi-validation-rule type="required" message="هذا الحقل مطلوب"></dxi-validation-rule>
          </dx-validator>
        </dx-check-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-value">
        <div *ngIf="addState;then content else other_content"></div>
        <ng-template #content><dx-button [useSubmitBehavior]="true" (click)="handleProductData()"
            class="btn py-0 default-btn" text="أضافة المنتج">
          </dx-button></ng-template>
        <ng-template #other_content><dx-button [useSubmitBehavior]="true" (click)="handleProductData()"
            class="btn py-0 default-btn" text="تعديل المنتج">
          </dx-button>
        </ng-template>

      </div>
    </div>
  </div>
</div>